@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box-shadow w-100 bg-white border-2 d-flex" style="height:200px; gap:30px; background-color:none;">
    <div class="doctordiv d-flex">
        <h1 class="fw-bold fs-5 mt-4 text-center">Total Doctor</h1>
        <img src="~/Images/alah.png" alt="Alternate Text" style="width:200px; height:150px;" />
    </div>

    <div class="patientdiv d-flex">
        <h1 class="fw-bold fs-5 mt-4 text-center">Total Patient</h1>
        <img src="~/Images/alah.png" alt="Alternate Text" style="width:200px; height:150px;" />
    </div>
</div>

