@{
    ViewData["Title"] = "About Us";
}


<div class="container mt-4">
    <div class="row align-items-center">
        <h1 class="text-center text-info fw-bolder mt-5 mb-4">ABOUT US</h1>
        <div class="col-md-6">
            <img src="~/images/aboutimage.png" alt="About Image" class="img-fluid" />
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h1 class="text-center fw-bolder mb-3">A New Standard in Clinical Experience</h1>
            <p class="mt-3 text-justify mx-3" style="font-size: 22px; font-family:'Times New Roman'; margin-bottom: 20px;">
                For us, patient satisfaction is a top priority. We consider every detail to provide you with a personalized and specialized healthcare experience. For us, patient satisfaction is a top priority. We consider every detail to provide you with a personalized and specialized healthcare experience. For us, patient satisfaction is a top priority. We consider every detail to provide you with a personalized and specialized healthcare experience.
            </p>

            <div class="text-center mt-4">
                <a href="/contact" class="btn btn-primary w-100">Contact Us</a>
            </div>
        </div>
    </div>
</div>



<style>
    .img-fluid {
        height: auto;
        max-height: 100%;
    }
</style>


